body {  
  background-color: #eee;
}

.logo {
	font-family: "Lato", "Open Sans";
	font-size: 70px;	
}

.logo-small {
	font-family: "Lato", "Open Sans";
	font-size: 20px;
}

.partyroom-navbar {
	border: 0px;
	background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.room-list {
	max-width: 330px;
	max-height: 300px;
	scroll: auto;
	padding: 15px;
	margin: 0 auto;
}

.box {
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;      
    padding-bottom: 15px; 
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    background: #fff;
}

.playlist {
	height: 214px;	
	overflow: auto;
}

.searchlist {
	height: 180px;	
	overflow: auto;
}

.chatlist {
	height: 232px;
	overflow:auto;
}

.userlist {
	height: 266px;
	overflow: auto;
}

.chat-message {
	margin-left: 10px;	
}

.video-img {
	width: 120px;
	margin-left: 10px;
	margin-right: 10px;	
	float:left;	
}

.nopadding {
	padding: 0px;
}

.video-title {
	margin: 10px;	
}

.pointer {
	cursor: pointer;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle;
}
