<include>templates/header.html</include>

<script src="js/swfobject.js"></script>
<script src="js/iso8601.min.js"></script>
<script src="js/room.js"></script>

<div ng-controller="RoomController">
	<!-- Main window -->
	<div class="row">
		<div class="col-md-12 text-center">
			<h2>Room "{{roomName}}"</h2>
			<div id="ytapiplayer">
    			You need Flash player 8+ and JavaScript enabled to view this video.
  			</div>
  			<div nh-hide="!room">
  				<strong>DJ: </strong>{{room.users[room.currentUser].name}}</br>
  				<strong>Title: </strong>{{room.currentSong.title}}</br>
  				<span><strong>Time: </strong>{{getOffset()}} secs</br></span>  				
  			</div>
		</div>
	</div>
	
	<!-- Widgets -->
	<div class="row">
		<!-- Playlist -->
		<div class="col-md-4 box">
			<div class="inner-box">
				Your Playlist
			</div>
			<div class="playlist">
				<div ng-repeat="song in playList">
					<div>							
						<img class="video-img" ng-src="{{song.thumbnail}}"/>
						<div class="video-title"><strong>{{song.title}}</strong></br></div>
						<div class="clear"></div>														
					</div>
				</div>
			</div>
		</div>
	
		<!-- Search box -->
		<div class="col-md-4 box">
			<div class="inner-box">
				Add Songs
			</div>
			<form ng-submit="search()">
				<input type="text" class="form-control" placeholder="Search songs" required ng-model="query">
			</form>
			<div class="scrollable" id="searchlist">
				<div ng-repeat="result in searchResults">
					<div style="cursor: pointer;" ng-click="addSong(result)">							
						<img class="video-img" ng-src="{{result.thumbnail}}"/>
						<div class="video-title"><strong>{{result.title}} ({{result.duration}})</strong></br></div>
						<div class="clear"></div>														
					</div>
				</div>
			</div>
		</div>
		
		<!-- Chat box -->
		<div class="col-md-4 box">
			<div class="inner-box">
				Chat ({{room.users.length}} users)
			</div>
			<form ng-submit="sendMessage()">
				<input type="text" class="form-control" placeholder="Message..." required ng-model="message">
			</form>
			<div class="scrollable" id="chatlist">
				<div class="chat-message" ng-repeat="message in room.messages">
					<strong>{{message.userName}}:
					</strong> {{message.message}}</li>
				</div>
			</div>			
		</div>									
	</div>
</div>
<include>templates/footer.html</include>